:root {
  --main-blue: #7a8cff;
  --text-dark: #2e2e2e;
  --text-light: #999;
  --card-bg: #fff;
  --bg: #f5f6ff;
  --border-radius: 1.2rem;
  --shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: system-ui, -apple-system, sans-serif;
  color: #333;
  background: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  /* color: ryan; */
}

.container {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.2rem;
}

.search-cont {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 3.2rem;
  margin-bottom: 2rem;
  width: 100%;
  max-width: 50rem;
}

.search-header {
  font-size: 2.4rem;
  font-weight: 600;
  color: #7a8cff;
}

.search {
  display: flex;
  align-items: center;
  border: 2px solid #bcc0e0;
  border-radius: 0.8rem;
}

.search-input {
  padding: 1rem;
  font-size: 1.6rem;
  width: 100%;
  border: none;
  background: none;
  max-width: 35rem;
  outline: none;
}

.search-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.search-outline {
  height: 2.6rem;
  width: 2.6rem;
  color: #bcc0e0;
}

.menu-outline {
  height: 2.6rem;
  width: 2.6rem;

  color: #7a8cff;
}

.weather-icon {
  height: 6rem;
  width: 6rem;
}

.day {
  font-size: 1.2rem;
  color: #485291;
  font-weight: 600;
}

.user-location {
  margin-bottom: 2rem;
  font-size: 1.8rem;
  text-align: center;
  color: #fff;
}

.weather-main {
  background: linear-gradient(to right bottom, #9ba6ea73, #7a8cff59),
    url(hero.jpg);
  height: 40vh;
  background-size: cover;
  background-position: top;
  border-radius: 15px;
  padding: 2rem;
  margin-bottom: 2rem;
  position: relative;
  color: #fff;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}
.weather-header {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.temperature {
  font-size: 6rem;
  font-weight: bold;
}

.location-info {
  text-align: right;
}

.location {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.sunset {
  font-size: 1.6rem;
}

.info-cards {
  margin-top: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.card-icon {
  height: 3rem;
  width: 3rem;
}

.card {
  display: flex;
  gap: 1.2rem;
  background: var(--card-bg);
  padding: 1rem 1.5rem;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  flex: 1;
  min-width: 260px;
}

.chart-card {
  flex: 2;
  min-width: 500px;
  background: var(--card-bg);
  padding: 1rem 1.5rem;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  flex: 1;
  min-width: 260px;
}

.forecast {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.forecast div {
  text-align: center;
  font-size: 0.9rem;
}

.rainfall-box {
  background: linear-gradient(135deg, #a4b8ff, #6da4ff);
  color: white;
}

@media (max-width: 768px) {
  .main-weather-card {
    flex-direction: column;
    text-align: center;
  }

  .chart-card {
    min-width: unset;
    width: 100%;
  }

  .forecast {
    flex-wrap: wrap;
  }
}
